<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.fireapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EasterEggPage"></activity>
        <activity android:name=".MyFavActivities" />
        <activity android:name=".ChangeFoodActivity" />
        <activity android:name=".ChangeMenuActivity" />
        <activity android:name=".AllRestaurantsDisplay" />
        <activity android:name=".CustHelpActivity" />
        <activity android:name=".EditCustomerAccountActivity" />
        <activity android:name=".AddMoneyActivity" />
        <activity android:name=".CustomerMyAccountActivity" /> <!-- <activity android:name=".CustomerEditActivity" /> -->
        <activity android:name=".RestaurantProfileDisplay" />
        <activity android:name=".RestaurantEditProfileActivity" />
        <activity android:name=".HelpRestaurant" />
        <activity android:name=".CustomerProfile" />
        <activity android:name=".SignUpAsCustomerActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RestaurantProfile" />
        <activity android:name=".SignUpAsRestaurantActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>